<h1>お気に入り</h1>
<div class="container">
	<div class="row">
		<% if @favorites.length == 0 %>
			<h4>お気に入りはありません</h4>
		<% end %>
		<div class="layout">
		<% @favorites.each do |favorite| %>
			<div class="image">
				<% if favorite.post.images.attached? %>
					<%= link_to post_path(favorite.post.id) do %>
						<%= image_tag favorite.post.images[0] %> <br>
					<% end %>
				<% end %>
				<%= link_to favorites_delete_path(favorite.post.id), method: :delete, data: { confirm: '削除しますか？' } , class: "btn btn-default btn-xs" do %>
					<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
				<% end %>
				<br>
			</div>
		<% end %>
		</div>
	</div>
</div>

<style>
	.image {
		background-color: #fff;
	    overflow: hidden;
	    text-align: center;
	    box-shadow: 3px 3px 6px #e6e6e6;
	    cursor: default;
		transform : translate(0, 50px);
		transition:all 0.5s;
		border-radius: 5px;
		position: relative;
	}
	.layout {
		display: grid;
		gap: 5px;
  		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  		grid-template-rows: 200px 200px 200px 200px 200px auto;
	}

	.image.scrollin {
		opacity : 1;
		transform : translate(0, 0);
	}
	.image img {
		height: 200px;
		width: 200px;
		object-fit: contain;
		/*position: relative;*/
	}
	.btn {
		font-size: 10px;
		position: absolute;
		top: 177px;
		right: 10px;
	}
</style>