<div class="tab_wrap">
	<div class="tab_area">
		<label class="tab1_label active" for="tab1">行ったお店</label>
		<label class="tab2_label" for="tab2">行きたいお店</label>
	</div>

	<div class="panel_area clearfix">
		<div id="panel1" class="tab_panel active clearfix">
			<!-- 行ったお店 -->
			<% if @posts.length == 0 %>
				<div class="posts_length">
					<h4>投稿がありません</h4>
				</div>
			<% end %>
			<div class="layout">
				<% @posts.each do |post| %>
					<% if post.report? %>
					<div class="image">
						<% if post.images.attached? %>
				    		<%= link_to post_path(post.id) do %>
				    			<%= image_tag post.images[0]%>
				    		<% end %>
						<% end %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div id="panel2" class="tab_panel clearfix">
			<!-- 行きたいお店 -->
			<% if @posts.length == 0 %>
				<div class="posts_length">
					<h4>投稿がありません</h4>
				</div>
			<% end %>
			<div class="layout">
				<% @posts.each do |post| %>
					<% if post.list? %>
					<div class="image">
						<% if post.images.attached? %>
			    			<%= link_to post_path(post.id) do %>
			    				<%= image_tag post.images[0] %>
			    			<% end %>
						<% end %>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>
</div>

<style>
	.posts_length {
		padding-top: 100px;
		text-align: center;
	}
	.image {
		background-color: #fff;
	    overflow: hidden;
	    text-align: center;
	    box-shadow: 3px 3px 6px #e6e6e6;
	    cursor: default;
		transform : translate(0, 50px);
		transition:all 0.5s;
		border-radius: 5px;
		position: relative;
	}
	.layout {
		display: grid;
		gap: 5px;
  		grid-template-columns: 1fr 1fr 1fr;
  		grid-template-rows: 200px 200px 200px auto;
	}

	.image.scrollin {
		opacity : 1;
		transform : translate(0, 0);
	}
	.image img {
		height: 200px;
		width: 200px;
		object-fit: contain;
	}

	.tab_wrap {
		width: 800px;
		margin: 20px auto;
	}
	.tab_area {
		font-size: 0;
		padding: 0 55px;
	}
	.tab_area label {
		width: 110px;
		display: inline-block;
		padding: 14px 0 12px;
		color: #fff;
		text-align: center;
		font-size: 13px;
		cursor: pointer;
		transition: ease 0.2s opacity;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		vertical-align: bottom;
		transition: ease 0.2s;
		margin:10px 5px 0;
	}
	.tab1_label {
		background: #c090cc;
	}
	.tab2_label {
		background: #90c9cc;
	}
	.tab_area label:hover {
		opacity: 0.5;
	}
/*	.tab_area label.active {
		color: #fff;
		opacity: 0.5;
	}*/
	.panel_area {
		background: #ddd;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
/*		border-top: 8px solid #d7e9ea;*/
		padding-bottom: 100px;
	}
	#panel1 {
		border-top: 8px solid #c090cc;
	}
	#panel2 {
		border-top: 8px solid #90c9cc;
	}
	.tab_panel{
		width: 100%;
		padding: 0 100px;
		display: none;
		font-size: 14px;
		letter-spacing: 1px;
		/*text-align: center;*/
	}
	.tab_panel.active {
		display: block;
	}
</style>

<script>
	$(".tab1_label").on("click",function(){
		var $th = $(this).index();
		$(this).addClass("active");
		$(".tab2_label").removeClass("active");
		$(".tab_panel").removeClass("active");
		$(".tab_panel").eq($th).addClass("active");
	});

	$(".tab2_label").on("click",function(){
		var $th = $(this).index();
		$(this).addClass("active");
		$(".tab1_label").removeClass("active");
		$(".tab_panel").removeClass("active");
		$(".tab_panel").eq($th).addClass("active");
	});
</script>